<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2147483647"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ReportNameList" value="/XML/ReportNameList.xml"/>
    <add key="ShowThemeOption" value="true"/>
    <add key="ServerPathMode" value="true"/>
    <add key="DownloadPath" value="D:\Inetpub\Wwwroot\ImpalWeb\Downloads"/>
    <add key="UploadPath" value="D:\Inetpub\Wwwroot\ImpalWeb\Downloads"/>
    <add key="UploadGroupConversionPath" value="D:\Inetpub\Wwwroot\ImpalWeb\Downloads\Conversion"/>
    <add key="PrinterName" value="EPSON FX Series (136)"/>
    <add key="PrinterPagesize" value="Invoice"/>
    <add key="ConnectionTimeOut" value="0"/>
    <add key="SSRSUSERNAME" value="sa"/>
    <add key="SSRSPASSWORD" value="impalser$123"/>
    <add key="SSRSDOMAIN" value="Builtin"/>
    <add key="SERVERURL" value="http://ImpalserAshok/ReportServer"/>
    <add key="SalesbyLine" value="/Reports/SalesReportbyZoneWise"/>
    <add key="SalesbyBranch" value="/Reports/SalesReportbyZone"/>
    <add key="SalesbySegment" value="/Reports/SegmentZoneWise"/>
    <add key="MONTHENDREMIITANCE" value="/Finance Dashboard/Month End Collection/MonthEndRemittanceZone"/>
    <add key="MONTHENDCOLLECTIONZONEWISE" value="/Finance Dashboard/Month End Collection/MonthEndCollectionZone"/>
    <add key="MONTHENDCUMULATIVECOLLECTION%" value="/Finance Dashboard/Month End Collection/MonthEndCumCollectionZone"/>
    <add key="MONTHENDCOLLECTIONASC" value="/Finance Dashboard/Month End Collection/MonthEndCollectionZoneAsc"/>
    <add key="MONTHENDCUMULATIVECOLLECTIONASC" value="/Finance Dashboard/Month End Collection/MonthEndCumCollectionZoneAsce"/>
    <add key="ACCOUNTSGP" value="/Finance Dashboard/Gross Profit/Dash_GPAccPer"/>
    <add key="ACCOUNTSGPCUMULATIVE" value="/Finance Dashboard/Gross Profit/Dash_GPAccCumm"/>
    <add key="ACCOUNTSGPMONTH" value="/Finance Dashboard/Gross Profit/Dash_GPAccMonth"/>
    <add key="INVOICEGP" value="/Finance Dashboard/Gross Profit/Dash_GPInvPer"/>
    <add key="SOUTHGP" value="/Finance Dashboard/Gross Profit/Dash_GPInvPer"/>
    <add key="RESTOFINDIAGP" value="/Finance Dashboard/Gross Profit/Dash_GPInvPer"/>
    <add key="INVOICEGPMONTH" value="/Finance Dashboard/Gross Profit/Dash_GPInvVal"/>
    <add key="INVOICEGPCUMULATIVE" value="/Finance Dashboard/Gross Profit/Dash_GPInvCumm"/>
    <add key="OutStandingIndusDealer" value="/Finance Dashboard/Outstanding/OutStandingIndusDealer"/>
    <add key="OutStandingAbove3Lakhs" value="/Finance Dashboard/Outstanding/OutStandingabove2Lakhs"/>
    <add key="OutStandingGovtTrans" value="/Finance Dashboard/Outstanding/OutStandingGovtTrans"/>
    <add key="SameMonthOutZone" value="/Finance Dashboard/NoOfDays/SameMonthOutZone"/>
    <add key="SameMonthOutZoneSTU" value="/Finance Dashboard/NoOfDays/SameMonthOutZoneSTU"/>
    <add key="SameMonthOutZoneNonSTU" value="/Finance Dashboard/NoOfDays/SameMonthOutZoneNonSTU"/>
    <add key="outstandingSameMonthZone" value="/Finance Dashboard/NoOfDays/outstandingSameMonthZone"/>
    <add key="Financecollection" value="/Finance Dashboard/Daily Report/Finance_collection"/>
    <add key="CollectionOSBr" value="/Finance Dashboard/Outstanding/Dash_collectvsOS_Br"/>
    <add key="CollectionOSCust" value="/Finance Dashboard/Outstanding/Dash_collectvsOS_Cust1"/>
    <add key="CollectionOSTown" value="/Finance Dashboard/Outstanding/Dash_collectvsOS_Town"/>
    <add key="OSMonthWiseAgePercentage" value="/Finance Dashboard/Outstanding/OutstandingZone"/>
    <add key="OutStandingReportBy180" value="/Finance Dashboard/CollectionAging/OutStandingReportBy180"/>
    <add key="OutStandingReport90Above" value="/Finance Dashboard/CollectionAging/OutStandingReport90Above"/>
    <add key="CryRptServerName" value="AshokPC"/>
    <add key="CryRptDataBaseName" value="Impal"/>
    <add key="CryRptDataBaseNameHO" value="Impal"/>
    <add key="DataBaseNameBackUp" value="Impal"/>
    <add key="CryRptUserName" value="sa"/>
    <add key="CryRptPwd" value="impalser$123"/>

    <add key="Prod_Einvoice_Clientid" value="4deb99f6e7d56651ec5304870f8ebd" />
    <add key="Prod_Einvoice_ClientSecretkey" value="9bb8ae661413f1b9c4c904917476b6" />
    <add key="Prod_Einvoice_AppSecretKey" value="0123456789ABCDEFGHIJKabcdefghijk" />
    <add key="Prod_Einvoice_PublicKey" value="MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAxqHazGS4OkY/bDp0oklL+Ser7EpTpxyeMop8kfBlhzc8dzWryuAECwu8i/avzL4f5XG/DdSgMz7EdZCMrcxtmGJlMo2tUqjVlIsUslMG6Cmn46w0u+pSiM9McqIvJgnntKDHg90EIWg1BNnZkJy1NcDrB4O4ea66Y6WGNdb0DxciaYRlToohv8q72YLEII/z7W/7EyDYEaoSlgYs4BUP69LF7SANDZ8ZuTpQQKGF4TJKNhJ+ocmJ8ahb2HTwH3Ol0THF+0gJmaigs8wcpWFOE2K+KxWfyX6bPBpjTzC+wQChCnGQREhaKdzawE/aRVEVnvWc43dhm0janHp29mAAVv+ngYP9tKeFMjVqbr8YuoT2InHWFKhpPN8wsk30YxyDvWkN3mUgj3Q/IUhiDh6fU8GBZ+iIoxiUfrKvC/XzXVsCE2JlGVceuZR8OzwGrxk+dvMnVHyauN1YWnJuUTYTrCw3rgpNOyTWWmlw2z5dDMpoHlY0WmTVh0CrMeQdP33D3LGsa+7JYRyoRBhUTHepxLwk8UiLbu6bGO1sQwstLTTmk+Z9ZSk9EUK03Bkgv0hOmSPKC4MLD5rOM/oaP0LLzZ49jm9yXIrgbEcn7rv82hk8ghqTfChmQV/q+94qijf+rM2XJ7QX6XBES0UvnWnV6bVjSoLuBi9TF1ttLpiT3fkCAwEAAQ==" />
    <add key="Prod_Einvoice_ClientSecretKeyEncr" value="eks/J2iQCWbtJBpE6Gqmx6dHT9O75aRSGGm6tIrfiZ4nNMMkA6/+7AtbIwZmqK4+fnDQJH7aGMkabrNS/4GzTUEJ7b7foDJgxYtOj2YByTis4rrEON0P+IxMXHGur52c4ZusIdOZqzhuHgIFV474PgU9K9BWOe+K/iQKgMKVA6lJUXREyy5Hv5+Af753X/rDS9d64b/R5btJVgE6WNvmuXwHtR6D3t7EJwJ9ykDF5UlnJt9DWxNMctwZggGiCXoHZPxoTvF4gEnqKrE0gw6Hag/I7CeS5ZgR53XI3tCOhc391uqYVTtmnJjDA0c0he0yOks2ZtQllJXtqcHfS1aa7wSvpMT4ff91i59dapvAf4r3vp2A2r4lx92h8wJltOQJrBp1mXdZ364MLaYu6Jqf+WH5N5Lqm7g4Q6WEEWnjk0e5+yCSN0FDfcxVPsL+M3NQlslWmtCi5eC/L0AIZDzXz9wfaiz0smRz9dDOnS6xHaa00DfBXtGpV2OayqPVnNyKN7NMZxXw1E3WxQQDAuliob0IUgKwpu76/N9OjlPVki2HfvMkg8EWF6Q1aiJ2FrJr4LGnX6tDX4YsD8p7EMb8ys/XpTJG4ujYswMvfaVxW+kkFxDkQf89DiK/rzwbg5EQeU0HLNYtKtf8OL4lpbZfpmxehCzlxSjVzqHeizkcuEk=" />
    <add key="Prod_Einvoice_AppSecretKeyEncr" value="XED3TDGWKUioMjmez1stHOPdq5sdZCQnlNjULyr+Gakc6ssUhjYpwfsW1ORkRSZ+G3867ZTQmasJVDsEgxBZpUJHn84JZWutcoOV/BppZpu17alBm5qA3JMpMG9IrNnlKr64yb0WCUWjKTyFW4yzNVCltKvMq4gsmboRQY3rNe10rsImP6tYNmLSg4ZfLc0VZ0KAHGEyySW82B3n3i840yq8y8IhsK2hIVlQVHm8a1Q79QwgJRI5XhDvOD3Yq1TC8m8sVIvYNcd06B+aZi2qNA+n0egMScok4icc3cKEysFsDGP0EeRzB+en1xbT8GLuA9KC2PmBw19WxBei+jFpriTw/xZINcXjZ4Ut26cDFYYceCXhuNBIFTq53QlSWW0/7j5ZYzsM6x6i+vSZvSazlacGc6gmO5mO2vCPeFqrC+jIy2mHIctK0yYTWnybAZUFLZDCVfLfz9NC7n4KWB5YxCkbNUpbfAEj3CgGOScmMUWE20r5I/qDuH6ca6MODLjQv3ReKQRII0ezG4wvfW/Q6aTEiIjEkl1vO2Zftn9MbR44xuO176UfnDnWiezl0gSxYWw2hg+2PUOobT79RxK7QppUhmZ9xlQ1pNt05osO9muwXnpYZPNFrQu0t0SjlufuhJs0rgfEc/eIvAt+FxMFaOG2OnLNYWhk+VeohuuwcZg=" />
    <add key="Prod_Einvoice_BDOauthURL" value="https://einvoiceapi.bdo.in/bdoauth/bdoauthenticate" />
    <add key="Prod_Einvoice_BDOgenirnURL" value="https://einvoiceapi.bdo.in/bdoapi/public/generateIRN" />
    <add key="Prod_Einvoice_BDOCancelURL" value="https://einvoiceapi.bdo.in/bdoapi/public/cancelIRN" />
    <add key="Prod_Einvoice_BDOgetIRNURL" value="https://einvoiceapi.bdo.in/bdoapi/public/bdoportalgetirnstatus" />
    <add key="Prod_Einvoice_BDOgetIRNDuplicateURL" value="https://einvoiceapi.bdo.in/bdoapi/public/irnbydocdetails?" />
    
    <!--<add key="Prod_Einvoice_Clientid" value="a6d91cb2fc4c2365f687ba05a2056e"/>
    <add key="Prod_Einvoice_ClientSecretkey" value="0b37065f5b196467dbbbd1bca7d9be"/>
    <add key="Prod_Einvoice_AppSecretKey" value="SZum7pkmwshknSSTcvn52eHQCjcOu2mB"/>
    <add key="Prod_Einvoice_PublicKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5glIokMZtKA8cgkb54hm9jBVfXBKvqP60wB3vDeW+yp0DHce02zfA6nmB7TjZ2YSN+WpkbLa9Iml3RwFutgp7qmDclECyBGMB6vH3LII1wVKT4IB/APdJ64jZNQ41AOl/xwX+bfPmWuy4/HbDx78wI50PV7pVdqnKMmaM+TwhWRI2kzJ/0em3hgYT5GV9Qdn4XbxxkNAAJhs2DgZIKX3QLQV545lT6Awy1l+gXMmYaYdd8r0N4Qoh/HnwUsRriueleJxFdsV4xUptNeUCAIvHys9zM2d443sokCVXwN+Xc9TT8Z2slNYVBX7CPwzuuMBcbD/B89qFAA+Nn7+Fmz3pQIDAQAB"/>
    <add key="Prod_Einvoice_ClientSecretKeyEncr" value="HjY3E6Z2eOvNQJb+b0bFFfTEoZni6aExRxw4FdpNpuxdIKn/cgUbvKNRrXz2shWnzkZNPFxjr6xtdSnRsbixd3GPJdSuAq7szGzfD5ye+A9lByqwgpGasZtiAL/0LxQn+zLIZgqA9gRQg0BdesIHnmKafODmCsK331H6BWnRydamcG1uC1rYYr/4Xspg9hEwrbDqdVMT6b0uMO4Wx5ihIXObR7/puRhEJ0Iy+WvdDeObjOdrKftQFNfrNEq3Ec7tWAAY+LFNX8/TTICYvCNvTz6xU3saW7/O1d0hmllJ76vg5m7uPy/3AivnUavrV6ae+vesLhxm5JdumH0RUe3zKg=="/>
    <add key="Prod_Einvoice_AppSecretKeyEncr" value="w5TolH3VLBu4iukJTdIOBWzd83kTithWOIz2vUF82oruQJhiCYI6YdY+4rCI3K0dl7k6rg7vJKaff5cL0XO8X5hrdAyvbIYp7OnjtccdMFAAsK2S6IWouYyMjvioTWvllcnofQSJdNqnUN8w91GgTiEWVj9W3aFOjUK8MbB6SNPf6WNMyHruHP+aNP7iiLxxjgDxO6Qg7aoNFLEt8wLiCYuLlNeteDXEleHMAkdxaDlacC3vpyegKuVkKpBAIyRmuyGdXyTsO2dzKeLDDrBfXcB7jMX/PvkvN+57K/q+Nc2ObZ2oRGLYnh5XTnJga5zDx0zVFAk2rAmcupSfUVGkCw=="/>
    <add key="Prod_Einvoice_BDOauthURL" value="https://sandboxeinvoiceapi.bdo.in/bdoauth/bdoauthenticate"/>
    <add key="Prod_Einvoice_BDOgenIrnURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/generateIRN"/>
    <add key="Prod_Einvoice_BDOCancelURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/cancelIRN"/>
    <add key="Prod_Einvoice_BDOgetIRNURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/bdoportalgetirnstatus"/>
    <add key="Prod_Einvoice_BDOgetIRNDuplicateURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/getIRNDetails/"/>
    <add key="Prod_Einvoice_BDOgetInvURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/geteinvoice"/>
    <add key="Prod_Einvoice_BDOgetBatchURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/getBatchDetails"/>
    <add key="Prod_Einvoice_BDOgenEwayURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/generateEWBByIRN"/>
    <add key="Prod_Einvoice_BDOgetGSTURL" value="https://sandboxeinvoiceapi.bdo.in/bdoapi/public/getgstinDetails/"/>-->
    
    <!--<add key="MapTech_smsSecretKey" value="55F97CAC982FB7" />
    <add key="MapTech_SMS_URL" value="http://websms.impal.net/app/smsapi/index.php" />-->
    <!--<add key="MapTech_SMS_URL" value="https://www.fast2sms.com/dev/bulkV2" />-->
    <!--<add key="MapTech_SMS_SecretKey" value="560FE9D11E1F34" />
    <add key="MapTech_SMS_URL" value="http://bulksms.smsroot.com/app/smsapi/index.php" />
    <add key="MapTech_SMS_Campaigan" value="0" />
    <add key="MapTech_SMS_Route" value="13" />
    <add key="MapTech_SMS_Type" value="text" />
    <add key="MapTech_SMS_SenderId" value="IMPNET" />-->
    
    <add key="Prod_BI_UserName" value="impal"/>
    <add key="Prod_BI_Password" value="BI123@abc"/>
    <add key="Prod_BI_PublicKeyURL" value="https://portaldev.brakesindia.com/MSRServices/api/ValidateUsers/GetEncryptionKey"/>
    <add key="Prod_BI_TokenAccessURL" value="https://portaldev.brakesindia.com/MSRServices/api/ValidateUsers/ValidateMSRDataLogin"/>
    <add key="Prod_BI_UpdateStockURL" value="https://portaldev.brakesindia.com/MSRServices/api/MSR/UpdateStockDetails"/>
    <add key="Prod_BI_UpdateSalesURL" value="https://portaldev.brakesindia.com/MSRServices/api/MSR/UpdateBranchSalesData"/>
    <add key="Prod_BI_GetOrdersURL" value="https://portaldev.brakesindia.com/MSRServices/api/MSR/GetMSROrders"/>
    <add key="Prod_BI_SendAckURL" value="https://portaldev.brakesindia.com/MSRServices/api/MSR/UpdateSaleOrdersForMSROrders"/>
    
    <add key="CloudStorage_HostName" value="62.171.184.119"/>
    <add key="CloudStorage_UserName" value="root"/>
    <add key="CloudStorage_Password" value="Md6=dj/up)"/>
    <add key="CloudStorage_FingerPrint" value="H+sp6CDEPajDGULIn/lUYsWEdiEvjyuoaJAzbHiW3kQ"/>
    
    <add key="MailApiHost" value="smtp6.impal.net"/>
    <add key="MailApiPort" value="587"/>
    <add key="MailApiUsername" value="ecreditform@impal.net"/>
    <add key="MailApiPassword" value="wQzR9*6jTbpM"/>
  </appSettings>
  <dataConfiguration defaultDatabase="IMPALDatabase"/>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="IMPALDatabase" connectionString="Data Source=AshokPC;Initial Catalog=Impal;User ID=sa;Password=impalser$123;Timeout=60000000" providerName="System.Data.SqlClient"/>
    <add name="IMPALBackupDB" connectionString="Data Source=AshokPC;Initial Catalog=Impal;User ID=sa;Password=impalser$123;Timeout=60000000" providerName="System.Data.SqlClient"/>
    <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true;Timeout=60000000" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/ImpalMain">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
  -->
    <identity impersonate="true"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="60000000"/>
    <sessionState mode="InProc" cookieless="false" timeout="300"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="300" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="Home.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="~/Errors/iErrorPage.aspx?StatusCode=0">
      <error statusCode="404" redirect="~/Errors/iErrorPage.aspx?StatusCode=404"/>
    </customErrors>
    <pages styleSheetTheme="ImapalMainTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
    </modules>
    <handlers>
      <remove name="CrystalImageHandler.aspx_GET"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>